[submodule "austinma"]
	path = austinma
	url = git@github.com:armatthews/sp2015.11-731.git
[submodule "eschling"]
	path = eschling
	url = git@github.com:eschling/sp2015.11-731.git
[submodule "cnakos"]
	path = cnakos
	url = git@github.com:cnakos/sp2015.11-731.git
[submodule "vrobison"]
	path = vrobison
	url = git@github.com:vrobison/sp2015.11-731.git
[submodule "jiesiz"]
	path = jiesiz
	url = git@github.com:manjusaka077/sp2015.11-731.git
[submodule "ljmartin"]
	path = ljmartin
	url = git@github.com:ladognome/sp2015.11-731.git
[submodule "aewilkin"]
	path = aewilkin
	url = git@github.com:Perilon/sp2015.11-731.git
[submodule "haoz1"]
	path = haoz1
	url = git@github.com:lelouchmatlab/sp2015.11-731.git
[submodule "yohanj"]
	path = yohanj
	url = git@github.com:zukjimote/sp2015.11-731.git
[submodule "vcirik"]
	path = vcirik
	url = git@github.com:wolet/sp2015.11-731.git
[submodule "junkih"]
	path = junkih
	url = git@github.com:junks/sp2015.11-731.git
[submodule "kkawakam"]
	path = kkawakam
	url = git@github.com:k-kawakami/sp2015.11-731.git
